
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

   

      <script src="~/js/Index.js"></script>
    <script type="text/javascript">

        function sendData(event) {
            debugger;
            $.ajax({
                url: "/home/AddData",
                type: "post",
                data: { "location": location, "country": country, "lon": lon, "lat": lat },
                success: function (event) {
                    alert("Data saved successfully");
                }

            });
    </script>
    <div class="container mb-5">

        <div class="row mt-5  ">
            <div class="col">

                <form method="post">
                    <input type="text" id="locationtext" placeholder="Enter location">

                    <br />
                    <a id="search" class="btn btn-dark text-white mt-2">Search</a>

                </form>
            </div>
        </div>
        <div class="col-md-5">
            <ul>
                <li class="list-unstyled">
                    <b>location:</b>
                    <b id="lbllocation"></b>
                </li>
                <li class="list-unstyled">
                    <b>country:</b>
                    <b id="lblcountry"></b>
                </li>
                <li class="list-unstyled">
                    <b>Longitude:</b>
                    <b id="lbllon"></b>
                </li>
                <li class="list-unstyled">
                    <b>Latitude:</b>
                    <b id="lbllat"></b>
                </li>

            </ul>
            <form>
               @*<button type="button" id="btn" onclick="sendData();">On</button>*@
                <a id="save" class="btn btn-dark text-white mt-2">Save Data</a>
               
            </form>
            
        </div>


    </div>

</body>
</html>